<div class="x_panel tile">

  <!--panel header-->
  <div class="x_title">
    <h2><i class="fas fa-stream"></i> Related</h2>
    <!--<ul class="nav navbar-right panel_toolbox">-->
      <!--<li><input type="checkbox" data-toggle="toggle" data-on="AND" data-off="OR">-->
      <!--</li>-->
    <!--</ul>-->
    <div class="clearfix"></div>
  </div>
  <!--panel header-->

  <div class="x_content">
    <div class="">


        {% if sim['parents']|length != 0 %}
        <h3>Parents</h3>
        <table class="table">
          {% for parent in sim['parents'] %}
          <tr>
            <td><a href="/viewer/details?entry_id={{ parent }}">{{ parent }}</a></td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}


       {% if sim['children']|length != 0 %}
        <h3>Children</h3>
        <table class="table">
          {% for child in sim['children'] %}
          <tr>
            <td><a href="/viewer/details?entry_id={{ child['entry_id'] }}">{{ child['entry_id'] }}</a></td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

    </div>
  </div>

</div>