<div class="x_panel tile fixed_height_320">

  <!--panel header-->
  <div class="x_title">
    <h2><i class="fab fa-gg-circle"></i> Groups</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><input type="checkbox" data-toggle="toggle" data-on="AND" data-off="OR">
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!--panel header-->

  <div class="x_content">
    <div class="">
        <div id="select_group" class="btn-group-vertical btn-group-toggle scrollable-group" data-toggle="buttons">
            <p class="scrollable-group-placeholder">Groups</p>
        </div>
    </div>
  </div>

</div>