<div class="x_panel tile">

  <!--panel header-->
  <div class="x_title">
    <h2><i class="fas fa-globe"></i> Entry properties</h2>
    <!--<ul class="nav navbar-right panel_toolbox">-->
      <!--<li><input type="checkbox" data-toggle="toggle" data-on="AND" data-off="OR">-->
      <!--</li>-->
    <!--</ul>-->
    <div class="clearfix"></div>
  </div>
  <!--panel header-->

  <div class="x_content">
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div id="echart_entry_types" style="height:250px;"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div id="echart_entry_owner" style="height:250px;"></div>
          </div>
      </div>
  </div>

</div>