<div class="x_panel tile">

  <!--panel header-->
  <div class="x_title">
    <h2><i class="fas fa-user"></i> {{ group }} <span class="small">( {{ count }} )</span> </h2>
    <!--<ul class="nav navbar-right panel_toolbox">-->
      <!--<li><input type="checkbox" data-toggle="toggle" data-on="AND" data-off="OR">-->
      <!--</li>-->
    <!--</ul>-->
    <div class="clearfix"></div>
  </div>
  <!--panel header-->

  <div class="x_content">
    <div class="">
        <table class="table">
            {%- for name in group_keywords[group] %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{% if group_keywords[group][name] != None %}  {{ group_keywords[group][name] }} {% endif %}</td>
                </tr>
            {%- endfor %}
        </table>
    </div>
  </div>

</div>